---
import { ClientRouter } from 'astro:transitions'
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import AboutImage from '@/assets/about.jpg'
import Footer from '@/components/Footer.astro'
import Title from '@/components/Title.astro'
import Navigation from '@/components/Navigation.astro'
import Faq from '@/components/Faq.astro'
---

<Layout title="Sobre mim">
	<ClientRouter />

	<div class="mt-10 grid h-svh grid-rows-[auto_1fr_auto] gap-4">
		<header>
			<div class="container mx-auto max-w-3xl space-y-4 px-4">
				<div class="space-y-3">
					<Navigation title="Sobre mim" />

					<p class="text-lg leading-relaxed">
						Bem-vindo! sou <span class="text-accent font-bold">Rodrigo Luiz</span>, mas pode me
						chamar de <span class="text-accent font-bold"> Mouro</span>. Como desenvolvedor
						Frontend, estou imerso no fascinante universo tecnológico há um ano. Minha trajetória no
						desenvolvimento web é marcada pela dedicação contínua em aprimorar minhas habilidades e
						conhecimentos.
					</p>

					<div class="grid items-center gap-3 md:grid-cols-3">
						<p class="col-span-2 text-lg leading-relaxed md:mt-15">
							Desde então, não paro de me surpreender com as infinitas possibilidades que a web
							oferece. Cada projeto é uma oportunidade de aprender algo novo e superar desafios.
						</p>

						<figure>
							<Image
								src={AboutImage}
								width="200"
								alt="foto de perfil do  mouro"
								class="rounded-md"
								format="avif"
								loading={'eager'}
							/>
						</figure>
					</div>
					<Title title="Objetivo Profissional" />
					<p class="text-lg leading-relaxed">
						Estou em busca da minha primeira oportunidade profissional como desenvolvedor front-end,
						onde possa contribuir com minhas habilidades e continuar a crescer na área de
						desenvolvimento web.
					</p>
				</div>
			</div>
		</header>

		<main class="mt-20">
			<div class="container mx-auto max-w-3xl space-y-4 px-4">
				<section>
					<Faq />
				</section>
			</div>
		</main>

		<footer>
			<Footer />
		</footer>
	</div>
</Layout>
