---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import Project from '@/components/Project.astro'
import Footer from '@/components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
import Title from '@/components/Title.astro'
---

<Layout title="mouro.dev">
	<ViewTransitions />
	<div class="grid h-svh grid-rows-[auto_1fr_auto] gap-6">
		<header>
			<Hero />
		</header>

		<main>
			<section class="mt-14">
				<div class="container mx-auto max-w-3xl px-4">
					<div class="space-y-4">
						<Title title="Projetos" />

						<div class="grid gap-4 md:grid-cols-2">
							<Project
								work="Em desenvolvimento"
								name="Portfolio minimo"
								description="Um portfólio minimalista para mostrar seus projetos e habilidades."
								url="https://github.com/moouro/minimal-portfolio"
								stack="Desenvolvido com Atro Build e Tailwind CSS"
								icon="astro"
							/>
						</div>

						<!-- <a
							class="flex w-fit items-center gap-4 rounded-md bg-surface px-5 py-2 text-heading font-bold transition-all duration-150 hover:bg-surface/70 hover:shadow-lg active:bg-surface/80 active:shadow-lg"
							href="/projects"
						>
							Mais projetos
							<Icon name="code" size={15} />
						</a> -->
					</div>
				</div>
			</section>
		</main>
		<footer>
			<Footer />
		</footer>
	</div>
</Layout>
