---
import { Icon } from 'astro-icon/components'
---

<footer class="mt-14 bg-[var(--color-surface)] py-8 text-center">
	<div class="container mx-auto max-w-3xl space-y-6 px-4">
		<!-- Chamada para Ação -->
		<p class="text-lg leading-relaxed text-[var(--color-heading)]">
			Entre em contato e vamos construir algo incrível juntos!
		</p>

		<!-- Links de Redes Sociais -->
		<div class="flex items-center justify-center gap-6">
			<a
				href="https://github.com/moouro"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="GitHub"
			>
				<Icon
					name="github"
					size={24}
					class="text-(--color-bodyLight) transition-all hover:text-[var(--color-heading)]"
				/>
			</a>
			<a
				href="https://www.linkedin.com/in/seu-perfil/"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="LinkedIn"
			>
				<Icon
					name="linkedin"
					size={24}
					class="text-(--color-bodyLight) transition-all hover:text-[var(--color-heading)]"
				/>
			</a>
			<a
				href="https://wa.me/5521992802319"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="WhatsApp"
			>
				<Icon name="whatsapp" size={24} class="transition-all hover:text-[var(--color-heading)]" />
			</a>
			<a
				href="mailto:rodrigoluiz212@gmail.com"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="E-mail"
			>
				<Icon
					name="mail"
					size={24}
					class="text-(--color-bodyLight) transition-all hover:text-[var(--color-heading)]"
				/>
			</a>
		</div>

		<!-- Navegação Rápida -->
		<nav class="flex items-center justify-center gap-4">
			<a
				href="/"
				class="text-sm text-[var(--color-bodyDark)] transition-all hover:text-[var(--color-heading)]"
				>Início</a
			>
			<a
				href="/projects"
				class="text-sm text-[var(--color-bodyDark)] transition-all hover:text-[var(--color-heading)]"
				>Projetos</a
			>
			<!-- <a
				href="#skills"
				class="text-sm text-[var(--color-bodyDark)] transition-all hover:text-[var(--color-heading)]"
				>Habilidades</a
			> -->
		</nav>

		<!-- Créditos -->
		<p class="text-xs text-[var(--color-bodyDark)]">
			Desenvolvido com ❤️ usando
			<a
				href="https://astro.build"
				target="_blank"
				rel="noopener noreferrer"
				class="text-[var(--color-bodyDark)] transition-all hover:text-[var(--color-heading)]"
				>Astro</a
			> e
			<a
				href="https://tailwindcss.com"
				target="_blank"
				rel="noopener noreferrer"
				class="text-[var(--color-bodyDark)] transition-all hover:text-[var(--color-heading)]"
				>Tailwind CSS</a
			>.
		</p>
	</div>
</footer>
