---

---

<div class='container mx-auto mb-4 max-w-2xl px-4'>
	<div class='gap-6 py-3 md:flex md:items-center md:justify-between lg:gap-8'>
		<div class='flex justify-center gap-2 md:order-2'>
			<a href='/' class='text-sm hover:text-accent'> Home </a>
			<a href='/about' class='text-sm hover:text-accent'> Sobre mim </a>
			<a href='/projects' class='text-sm hover:text-accent'> Projetos </a>
			<a href='/stacks' class='text-sm hover:text-accent'> Ferramentas </a>
		</div>
		<div class='mt-8 text-center text-xs md:order-1 md:mt-0'>
			<p>
				&copy; 2024 <span class='font-bold text-accent'>Mouro.dev</span> Todos os direitos reservados.
			</p>
		</div>
	</div>
</div>
