---
import { Image } from 'astro:assets'
import Profile from '@/assets/profile.jpg'
import { Icon } from 'astro-icon/components'
---

<nav class='container max-w-2xl mx-auto px-4 mt-10 relative z-10'>
  <div class='space-y-4'>
    <figure>
      <Image
        src={Profile}
        width='150'
        alt='foto de perfil do  mouro'
        format='avif'
        class='rounded-full'
      />
    </figure>
    <h1 class='font-bold text-sm md:text-3xl'>
      Olá, sou o Mouro <span class='js-name text-dark-primary'></span>
    </h1>

    <p class='font-medium font-mono text-sm md:text-lg text-zinc-500'>
      Bem-vindo ao <span class='text-dark-primary font-semibold'>mouro.dev</span
      > , o lugar onde transformo ideias em experiências digitais. Com
      <span class='text-dark-primary font-semibold'>HTML</span>, <span
        class='text-dark-primary font-semibold'>CSS</span
      > e
      <span class='text-dark-primary font-semibold'>JavaScript</span>, crio
      soluções web de alta qualidade para fazer o seu projeto brilhar online.
      Vamos desenvolver algo juntos?
    </p>

    <div class='grid gap-3 items-center grid-cols-2 justify-center w-fit'>
      <a
        href='/about'
        class='rounded-md bg-dark-primary px-3.5 py-2.5 text-sm font-semibold text-violet-100 text-center shadow-sm hover:bg-dark-primary/90'
        >Sobre mim</a
      >
      <a
        href='https://wa.me/5521992802319'
        target='_blank'
        class='text-sm font-semibold leading-6 text-zinc-100 hover:text-violet-500 transition-colors duration-200'
        >Entre em contato <span aria-hidden='true'>
          <Icon name='ri:whatsapp-line' class='inline-block w-4 h-4' />
        </span></a
      >
    </div>
  </div>
</nav>

<script>
  import Typed from 'typed.js'

  const typed = new Typed('.js-name', {
    strings: ['Desenvolvedor Web', 'Freelancer'],
    typeSpeed: 100,
    backSpeed: 120,
    loop: true
  })
</script>
