---
import { Image } from 'astro:assets'
import Profile from '@/assets/profile.png'
import { Icon } from 'astro-icon/components'
---

<nav class='container mx-auto mt-10 max-w-2xl px-4'>
	<div class='space-y-4'>
		<Image
			src={Profile}
			width='150'
			alt='foto de perfil do  mouro'
			class='rounded-full'
			format='avif'
		/>

		<h1 class='text-xl font-bold text-heading md:text-3xl'>
			Olá, sou o Mouro <span class='js-name text-accent'></span>
		</h1>

		<p>
			Bem-vindo ao <span class='font-semibold text-accent'>mouro.dev</span>, meu espaço digital onde
			transformo ideias em experiências interativas na web. Com uma abordagem focada na constante
			evolução, estou sempre buscando aprimorar minhas habilidades em <span
				class='font-semibold text-accent'>HTML</span
			>, <span class='font-semibold text-accent'>CSS</span> e <span
				class='font-semibold text-accent'>JavaScript</span
			>.
		</p>

		<p>
			Meu compromisso com o aprendizado contínuo reflete meu desejo de oferecer soluções de alta
			qualidade e acompanhar as últimas tendências do setor. Estou ansioso para colaborar e tornar
			sua visão uma realidade digital. Vamos criar algo incrível juntos?
		</p>

		<div class='grid w-fit grid-cols-2 items-center justify-center gap-3'>
			<a
				href='/about'
				class='rounded-md bg-accent px-5 py-2 font-medium text-heading duration-150 hover:bg-accent/70 hover:shadow-lg active:bg-accent/80 active:shadow-lg'
				>Sobre mim</a
			>

			<div class='flex gap-2'>
				<a
					href='https://api.whatsapp.com/send?phone==5521992802319&text=Ol%C3%A1%2C%20gostaria%20de%20entrar%20em%20contato%20com%20voc%C3%AA!'
					target='_blank'
					class='hover:text-accent'
				>
					<Icon name='whatsapp' size={24} aria-label='true' title='Whatsapp' />
				</a>

				<a href='https://github.com/moouro' target='_blank' class='hover:text-accent'>
					<Icon name='github' size={24} aria-label='true' title='Github' />
				</a>

				<a href='https://twitter.com/moouro' class='hover:text-accent' target='_blank'>
					<Icon name='twitter' size={24} aria-label='true' title='Twitter' />
				</a>

				<a href='https://www.instagram.com/moouro' class='hover:text-accent' target='_blank'>
					<Icon name='instagram' size={24} aria-label='true' title='Instagram' />
				</a>
			</div>
		</div>
	</div>
</nav>

<script>
	import Typed from 'typed.js'

	const typed = new Typed('.js-name', {
		strings: ['Desenvolvedor Frontend', 'Bem vindo!'],
		typeSpeed: 80,
		backSpeed: 50,
		loop: true
	})
</script>
