---
import { Image } from 'astro:assets'
import Profile from '@/assets/profile.png'
---

<nav class="container mx-auto mt-10 max-w-3xl px-4">
	<div class="space-y-4">
		<Image
			src={Profile}
			width="150"
			alt="foto de perfil do Mouro"
			class="rounded-full"
			format="avif"
			loading={'eager'}
		/>
		<h1 class="text-xl font-bold text-heading md:text-3xl">
			Olá, sou o <span class="js-name text-accent">Mouro</span>
		</h1>
		<p class="text-lg leading-relaxed">
			Sou um desenvolvedor front-end, moro no Rio de Janeiro, estou focado em <span
				class="font-semibold text-accent">JavaScript</span
			> e <span class="font-semibold text-accent">TypeScript</span>. Utilizo <span
				class="font-semibold text-accent">React</span
			>, <span class="font-semibold text-accent">Astro</span>, <span
				class="font-semibold text-accent">Tailwind CSS</span
			>, <span class="font-semibold text-accent">Sass</span> e <span
				class="font-semibold text-accent">Vite.js</span
			> para criar interfaces modernas e responsivas. Estou sempre aprendendo e aplicando as melhores
			práticas em desenvolvimento web.
		</p>

		<p class="text-lg leading-relaxed">
			Tenho experiência prática com projetos pessoais, nos quais desenvolvi diversas aplicações web
			interativas utilizando <span class="font-semibold text-accent">Astro</span> e <span
				class="font-semibold text-accent">Tailwind CSS</span
			>. Meu compromisso com o aprendizado contínuo me permite acompanhar as últimas tendências do
			setor.
		</p>

		<p class="text-lg font-semibold leading-relaxed text-accent">Vamos criar algo juntos?</p>
		<a
			href="/about"
			class="flex w-fit items-center rounded bg-accent px-4 py-2 font-bold text-white shadow transition-colors duration-300 ease-in-out hover:bg-accent/60 focus:outline-none focus:ring-2 focus:ring-accent/40 focus:ring-opacity-75"
			aria-label="Sobre mim"
		>
			Sobre mim
		</a>
	</div>
</nav>

<!-- <script>
	import Typed from 'typed.js'

	const typed = new Typed('.js-name', {
		strings: ['Desenvolvedor Frontend.', 'moro no Rio de Janeiro.'],
		typeSpeed: 50,
		backSpeed: 60,
		loop: true
	})
</script> -->
