---
import { Icon } from 'astro-icon/components'

export interface Props {
	name: string
	description: string
	url: string
	work?: string
}

const { name, description, url, work } = Astro.props
---

<a
	href={url}
	target='_blank'
	class='group flex flex-col justify-between gap-4 rounded-md border border-border bg-surface p-4'
>
	{
		work && (
			<p class='flex w-fit items-center gap-2 rounded-md bg-accent/10 p-1 text-xs text-accent/80'>
				<span class='h-2 w-2 animate-pulse rounded-full bg-accent' />
				{work}
			</p>
		)
	}
	<p class='text-sm'>{description}</p>

	<div class='flex items-center justify-between transition-all group-hover:text-accent'>
		<h3 class='font-semibold text-heading transition-all group-hover:text-accent'>{name}</h3>
		<Icon name='arrow' size={24} />
	</div>
</a>
