---
interface Props {
	title: string
	href: string
	name: string
}

const { title, name, href } = Astro.props

import { Icon } from 'astro-icon/components'
---

<a
	href={href}
	class="flex w-24 flex-col items-center gap-2 rounded-lg border border-border px-2 py-4 transition-all duration-300 ease-in-out hover:border-surface hover:bg-surface"
	target="_blank"
>
	<Icon name={name} size={40} />
	<span class="text-xs font-bold">{title}</span>
</a>
