---
import Title from '@/components/Title.astro'
import SkillCard from '@/components/SkillCard.astro'
import skillsData from '@/data/skill.json'

const skills = skillsData
---

<div class="container mx-auto max-w-3xl px-4">
	<div class="space-y-4">
		<Title title="Minhas Habilidades Técnicas" />
		<p class="text-lg leading-relaxed">
			Minha escolha de tecnologias é guiada pela busca por eficiência, desempenho e escalabilidade.
			Abaixo, destaco as principais ferramentas que utilizo em meus projetos e explico o motivo de
			sua adoção.
		</p>
		<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
			{
				skills.map((skill) => (
					<SkillCard title={skill.title} description={skill.description} icon={skill.icon} />
				))
			}
		</div>
	</div>
</div>
