---
import { Icon } from 'astro-icon/components'
---

<div class="flex justify-center gap-4">
	<a href="https://github.com/moouro" target="_blank" class="hover:text-accent">
		<Icon name="github" size={24} aria-label="true" title="Github" />
	</a>

	<a href="https://twitter.com/moouro" class="hover:text-accent" target="_blank">
		<Icon name="twitter" size={24} aria-label="true" title="Twitter" />
	</a>

	<a href="https://www.instagram.com/moouro" class="hover:text-accent" target="_blank">
		<Icon name="instagram" size={24} aria-label="true" title="Instagram" />
	</a>
</div>
