---
interface Props {
  image: string
  title: string
  body: string
  href: string
}

const { image, href, title, body } = Astro.props
---

<a
  href={href}
  target='_blank'
  class='flex gap-3 flex-col border-dark-ring/20 border p-3 rounded-md hover:bg-dark-destructive hover:bg-opacity-10 transition-colors duration-300 ease-in-out'
>
  <img src={image} alt='Descrição da imagem' class='w-10' />
  <div class='space-y-2'>
    <h2 class='text-sm'>{title}</h2>
    <p class='text-xs'>{body}</p>
  </div>
</a>
